/* general */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');

:root{
    --fs-xl: 3rem;
    --fs-l: 2rem;
    --fs-m: 1.5rem;
    --fs-s: 1.3rem;
    --fs-xs: 1rem;
    --families: 'Shippori Antique', sans-serif;
    --subfamilies: "Cormorant Garamond",serif;
}

a{
    text-decoration: none;
    color: #fff;
}

p, a, h1, h2, h3, h4, h5, h6, button, span, li, label{
    font-family: var(--families);
    line-height: 1.3;
    color: #fff;
}

h1, h2, h3, h4, h5, h6{
line-height: 1.5;
}

li{
    font-size: var(--fs-xs);
}

.bold{
    font-weight: 700;
}

.dis-grid{
    display: grid;
}

.dis-flex{
    display: flex;
}

.dis-inline{
    display: inline;
}

.flex-row{
    flex-direction: row;
}

.flex-column{
    flex-direction: column;
}

.dis-none{
    display: none;
}

.pad-h5{
    padding: 5px 0 5px 0;
}

.pad-v10{
    padding: 0 10px 0 10px;
}

.pad-h10{
    padding: 10px 0 10px 0;
}

.pad-v15{
    padding: 0 15px 0 15px;
}

.pad-h15{
    padding: 15px 0 15px 0;
}

.pad-v20{
    padding: 0 20px 0 20px;
}

.pad-h20{
    padding: 20px 0 20px 0;
}

.pad-h50{
    padding: 50px 0 50px 0;
}

.pad-l5{
    padding-left: 5px;
}

.pad-r5{
    padding-right: 5px;
}

.pad-t5{
    padding-top: 5px;
}

.pad-b5{
    padding-bottom: 5px;
}

.pad-l10{
    padding-left: 10px;
}

.pad-r10{
    padding-right: 10px;
}

.pad-t10{
    padding-top: 10px;
}

.pad-b10{
    padding-bottom: 10px;
}

.pad-l15{
    padding-left: 15px;
}

.pad-r15{
    padding-right: 15px;
}

.pad-t15{
    padding-top: 15px;
}

.pad-b15{
    padding-bottom: 15px;
}

.pad-l20{
    padding-left: 20px;
}

.pad-r20{
    padding-right: 20px;
}

.pad-t20{
    padding-top: 20px;
}

.pad-b20{
    padding-bottom: 20px;
}

.pad-v5{
    padding: 0 5px 0 5px;
}

.pad-r2{
    padding: 0 2rem 0 2rem;
}



/*  */

.mar-v5{
    margin: 0 5px 0 5px;
}

.mar-h5{
    margin: 5px 0 5px 0;
}

.mar-v10{
    margin: 0 10px 0 10px;
}

.mar-h10{
    margin: 10px 0 10px 0;
}

.mar-v15{
    margin: 0 15px 0 15px;
}

.mar-h15{
    margin: 15px 0 15px 0;
}

.mar-v20{
    margin: 0 20px 0 20px;
}

.mar-h20{
    margin: 20px 0 20px 0;
}

.mar-h50{
    margin: 50px 0 50px 0;
}

.mar-l5{
    margin-left: 5px;
}

.mar-r5{
    margin-right: 5px;
}

.mar-t5{
    margin-top: 5px;
}

.mar-b5{
    margin-bottom: 5px;
}

.mar-l10{
    margin-left: 10px;
}

.mar-r10{
    margin-right: 10px;
}

.mar-t10{
    margin-top: 10px;
}

.mar-b10{
    margin-bottom: 10px;
}

.mar-l15{
    margin-left: 15px;
}

.mar-r15{
    margin-right: 15px;
}

.mar-t15{
    margin-top: 15px;
}

.mar-b15{
    margin-bottom: 15px;
}

.mar-l20{
    margin-left: 20px;
}

.mar-r20{
    margin-right: 20px;
}

.mar-t20{
    margin-top: 20px;
}

.mar-b20{
    margin-bottom: 20px;
}

.txt-c{
    text-align: center;
}

.txt-l{
    text-align: left;
}

.txt-l{
    text-align: right;
}

.opc-5{
    opacity: 0.5;
}

